prime_licence = eyJpZCI6ImNjZTk3Mzk4LTUwOTAtNDBlOS1hYzNhLTg5MTMyZWUyYjZlNyIsInByb2R1Y3QiOiJwcmltZXVpIiwidGllciI6ImNvbW11bml0eSIsInR5cGUiOiJkZXYiLCJpYXQiOjE3ODQxOTQyMDksImV4cCI6MTgxNTczMDIwOX0.LE5BsjUfKGC-MpE-KuRG1ATP9eF_aNvLy4Ijbt6XZv747eCPdIwo8zoVcmBdPi5UUYgv2hkVZhCbtINn9MaMBg