# env example, baca kalau bingung

# gateway port.
CERBERUS_LISTEN=:8080

# upstream URL, ini contoh punya open router
CERBERUS_UPSTREAM=https://openrouter.ai/api/v1

# api versioning dll
CERBERUS_INCOMING_PREFIX=/v1

